.homecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../img/Ellipse.png);
}

.main {
  width: 595px;
}

.title {
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #191a15;
  text-align: start;

  span {
    font-style: italic;
    color: #fc832c;
  }
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: start;
  max-width: 500px;
}

.link {
  border: none;
  border-radius: 30px;
  padding: 14px 39px;
  background-color: #fc832c;
  color: white;
  transition: all 0.25s ease;
}

.link:hover,
.link:focus {
  background-color: #f37113;
}

.wrapper {
  border-radius: 10px;
  width: 464px;
  height: 526px;
  background-image: url('../../img/image.jpg');
  position: relative;
}

.users {
  width: 48px;
  height: 48px;
  background: #fbc75e;
  border-radius: 10px;
  transform: rotate(15deg);
  position: absolute;
  top: 40px;
  right: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.znak {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transform: rotate(-15deg);
  position: absolute;
  background: #54be96;
  top: 200px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background: #fc832c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 75px;
  left: -100px;
}

.iconwrap {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background: #fbfbfb;
  padding: 12px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
}

.number {
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
}
