.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display {
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fc832c;
  transition: all 0.25s ease;

  span {
    color: #191a15;
  }
}

.nav {
  display: none;
}

.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #191a15;
}

.active {
  color: #fc832c;
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgba(16, 24, 40, 0.1);
  margin: 24px auto;
}

.burgerbtn {
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
    gap: 30px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
  }

  .burgerbtn {
    display: none;
  }

  .display {
    display: block;
  }
}
