.btn {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  padding: 14px 39px;
}

.btn:hover,
.btn:focus {
  background: #fc832c;
  border-color: #fc832c;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
  }
}
