.btnclose {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.link {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #191a15;
}

.active {
  color: #fc832c;
  text-decoration: underline;
}
