.container {
  display: flex;
  border-radius: 24px;
  padding: 24px;
  background-color: #fbfbfb;
  gap: 24px;
}

.content {
  max-width: 990px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.imgwrap {
  border: 2px solid rgba(252, 131, 44, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  padding: 12px;
  position: relative;
}

.icon {
  position: absolute;
  top: 9px;
  right: 9px;
}

.img {
  width: 96px;
  height: 96px;
}

.psychologist {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  text-align: start;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #191a15;
  text-align: start;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.add {
  background-color: transparent;
  outline: none;
  border: none;

  svg {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 8px 16px;
  background: #f3f3f3;

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;
  }

  span {
    color: #191a15;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(25, 26, 21, 0.5);
  text-align: start;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #191a15;
}

.btn:hover,
.btn:focus {
  font-weight: 600;
}
