@import url('/src/utils//variables.css');

.container {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 24px;
    width: 448px;
}

.title {
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
margin-bottom: 8px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;

}

.input {
    border-radius: 10px;
padding: 18px;
width: 400px;
height: 56px;
background-color: var(--dark-white);
border: none;
outline: none;
}

.textarea {
    border-radius: 10px;
padding: 18px;
background-color: var(--dark-white);
border: none;
resize: none;     
  width: 400px;      
  height: 114px;     
  overflow-y: auto; 
  outline: none;
border: none;
}



.btn {
    border: none;
    transition: all 0.25s ease;
    outline: none;
    margin: 0 auto;
    border-radius: 200px;
background: var(--red);
color:  var(--white);
border-radius: 200px;
padding: 16px 60px;
width: 160px;
height: 56px;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: var(--hover-red);
  }
