.container {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  max-width: 1000px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 24px auto;
  text-align: center;
}

.wrapper {
  max-width: 600px;
  margin: 48px auto;
}

.link {
  border: none;
  border-radius: 30px;
  padding: 14px 39px;
  background-color: #fc832c;
  color: white;
  transition: all 0.25s ease;
}

.link:hover,
.link:focus {
  background-color: #f37113;
}

.img {
  max-width: 100%;
}
